Knowing the above, please decide what your next action should be.

You can either:
 - submit a new post to start a thread
 - view existing thread to see its replies 
 - submit a reply to take part in an existing thread discussion
