Knowing the above, please decide what your next action should be.

You can either:
 - SubmitPost - to start a thread by sending a new original post
 - ViewThread - to see a complete thread with replies (always try to view thread before submiting a reply)
 - SubmitReply - to reply to an existing thread
