<!DOCTYPE html>
<html>
  <head>
    <style>
      ul {
        list-style: none;
      }

      li {
        margin: 1em 0;
      }

      a {
        color: inherit;
      }

      a:visited {
        color: inherit;
      }

      h1 a {
        text-decoration: none;
      }

      #container {
        margin: 0 auto;
        max-width: 600px;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1><a href="/">Bleater</a></h1>
      <div id="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
