{% extends "base.jinja" %}
{% block content %}
<strong>{{ thread.root.user.name }} wrote:</strong><br />
{{ thread.root.content }} <br />
<strong>@ {{ thread.root.timestamp | ts_format }}</strong>
<ul>
  {% for reply in thread.replies %}
  <li>
    <strong>{{ reply.user.name }} wrote:</strong><br />
    {{ reply.content }} <br />
    <strong>@ {{ reply.timestamp | ts_format }}</strong>
  </li>
  {% endfor %}
</ul>
{% endblock %}
