{% extends "base.jinja" %}
{% block content %}
<strong><a href="/user?id={{ thread.root.user.id }}">{{ thread.root.user.name }}</a> wrote:</strong><br />
{{ thread.root.content }} <br />
<strong>@ {{ thread.root.timestamp | ts_format }}</strong>
<ul>
  {% for reply in thread.replies %}
  <li>
    <strong><a href="/user?id={{ reply.user.id }}">{{ reply.user.name }}</a> wrote:</strong><br />
    {{ reply.content }} <br />
    <strong>@ {{ reply.timestamp | ts_format }}</strong>
  </li>
  {% endfor %}
</ul>
{% endblock %}
