{% extends "base.jinja" %}
{% block content %}

<h2>Posts by {{ username }}</h2>

<ul>
  {% for post in posts %}
  <li>
    <strong>{{ post.user.name }} wrote:</strong><br />
    {{ post.content }} <br />
    <strong>@ {{ post.timestamp | ts_format }}</strong><br />
    {% if post.parent_id %}
    Reply to: <a href="/posts?id={{ post.parent_id }}">{{ post.parent_id }}</a>    
    {% endif %}
  </li>
  {% endfor %}
</ul>

{% endblock %}
